{% extends "layout/basic.html" %}
{% block title %} Редагування оголошення{% endblock %}

{% block content %}
    {#    <h2>Додавання оголошення</h2>#}
    <style>
        .color text {
            background-color: #fffe; /* Цвет фона */
            color: #777777; /* Цвет текста */
        }
    </style>


    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}

        <div class=" mb-0 ml-3">{{ form.title.label_tag }} </div>
        <div class="card text-white bg-info mb-3 ml-3">{{ form.title }}</div>
        <div class=" mb-0 ml-3">{{ form.content.label_tag }} </div>
        <div class="card text-white bg-info mb-3 ml-3">{{ form.content }}</div>
        <div class=" mb-0 ml-3">{{ form.price.label_tag }} </div>
        <div class="card text-white bg-info mb-3 ml-3">{{ form.price }}</div>
        <div class=" mb-0 ml-3">{{ form.rubric.label_tag }} </div>
        <div class="card text-white bg-info mb-3 ml-3">{{ form.rubric }}</div>

        <div class="card bg-info mb-3 ml-3">{{ form.photo_prev }}</div>


        <div class="card text-white bg-info mb-3 ml-3"><input type="submit" value="Виправити"></div>
    </form>

{% endblock %}