bootstrap4==0.1.0
certifi==2019.6.16
chardet==3.0.4
codegen==1.0
Django==2.2.3
django-bootstrap3==11.0.0
django-extensions==2.1.9
django-firebird==1.11
djfirebirdsql==0.0.4
docopt==0.6.2
docxtpl==0.6.3
et-xmlfile==1.0.1
fdb==2.0.1
firebirdsql==1.1.2
future==0.17.1
idna==2.8
jdcal==1.4.1
Jinja2==2.10.1
lxml==4.4.0
MarkupSafe==1.1.1
openpyxl==2.6.2
patterns==0.3
Pillow==6.1.0
pipreqs==0.4.9
python-docx==0.8.7
pytz==2019.1
requests==2.22.0
simplejson==3.16.0
six==1.12.0
sqlparse==0.3.0
urllib3==1.25.3
yarg==0.1.9
