{% extends "layout/basic_plan.html" %}
{#{% import os %}#}

{% block content %}
    <script type="text/javascript">var addres = "";</script>
    <h2>
        <div id="title">&nbsp;</div>
    </h2>
    {#    <input id="titleX" type="text" value="" /><br>#}
    <div class="container-fluid ">
        <div class="row align-items-lg-baseline">
            <div class="col-5 mx-auto col-md-6 order-md-2 bg-danger text-white ">

                <div class="form-group">
                    <label for="exampleFormControlSelect2">Example multiple select</label>
                    <select multiple class="form-control" id="exampleFormControlSelect2" size="15" name="rozdili">
                        {% for rubric in rubrics %}
                            {% if rubric.riven == 1 %}
                                <option id="{{ rubric.id }}" owner="{{ rubric.id_owner_id }}" hidden_child=true>
                                    {{ rubric.n_r }}.&nbsp;{{ rubric.name }}
                                </option>
                                {% for rubric2 in rubrics %}
                                    {% if rubric2.riven == 2 and rubric2.id_owner_id == rubric.id %}
                                        <option id="{{ rubric2.id }}" owner="{{ rubric2.id_owner_id }}"
                                                hidden_child=true>
                                            &nbsp;&nbsp; {{ rubric.n_r }}.&nbsp;{{ rubric2.n_r }}.&nbsp;{{ rubric2.name }}
                                        </option>

                                        {% for rubric3 in rubrics %}
                                            {% if rubric3.riven == 3 and rubric3.id_owner_id == rubric2.id %}
                                                <option id="{{ rubric3.id }}" owner="{{ rubric3.id_owner_id }}"
                                                        hidden_child=true>
                                                    &nbsp;&nbsp; &nbsp;&nbsp; {{ rubric.n_r }}.&nbsp;{{ rubric2.n_r }}.&nbsp;{{ rubric3.n_r }}.&nbsp;{{ rubric3.name }}
                                                </option>
                                            {% endif %}
                                        {% endfor %}
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                        {% endfor %}

                        {#                            {{ rubrics_code|safe }}#}
                        {#                            {% autoescape off  %}#}
                        {#                                {{ rubrics_code }}#}
                        {#                            {% endautoescape %}#}

                    </select>
                </div>


                {#                <input id="nnn" type="number" value="1"/>#}
            </div>
            <div id="pl" class="col-6 mx-auto  col-md-6 order-md-2 bg-danger text-white ml-5 ">

            </div>

        </div>
    </div>

    <script type="text/javascript">
        var n = 1;
        var rubr_id_max = 57;

        jQuery(document).ready(function () {
                n = 1;
                {#alert("{{ rubr_id_max }}");#}
                {#        jQuery('#titleX').val("{{ rubr_id_max|  }}");#}
            }
        );
    </script>
    <script type="text/javascript">


        var a;


        function isDno(el) {
            dno = true;
            $('option').each(function (i, elem) {
                if ($(elem).attr("owner") == el.attr('id')) {
                    dno = false;
                }
            });
            return dno;
        }


        function tree(el, flag) {
            if (isDno(el))
                return true;
            else {
                el.attr("hidden_child", !flag);
                $('option').each(function (i, elem) {
                    if ($(elem).attr("owner") == el.attr('id')) {
                        $(elem).attr("hidden", !flag);
                        tree($(elem), flag);
                    }
                });
            }
        }

        jQuery('#exampleFormControlSelect2').on('click', function () {
            n = 1;
            a = jQuery(this).find(":selected").attr('id');
            s = "" + a + "/" + n;
            jQuery('#pl').load(s);
            el = jQuery(this).find(":selected");
            tree(el, (el.attr('hidden_child') == 'true'));

        });
    </script>


{% endblock %}
