{% extends "layout/basic_plan.html" %}
{#{% import os %}#}

{% block content %}
    <script type="text/javascript">var addres = "";</script>
    <h2>
        <div id="title">qqqq</div>
    </h2>
    <div class="container-fluid">
        <div class="row align-items-lg-baseline">
            <div class="col-5 mx-auto col-md-6 order-md-2 bg-danger text-white">
                <form>
                    <div class="form-group">
                        <label for="exampleFormControlSelect2">Example multiple select</label>
                        <select multiple class="form-control" id="exampleFormControlSelect2" size="15" name="rozdili">
                            {% for rubric in rubrics %}
                                <option id="{{ rubric.id }}" level="{{ rubric.id }}">
                                    {{ rubric.name }}
                                </option>
                            {% endfor %}

                        </select>
                    </div>
                </form>
                <input id="prew" type="button" value="Попередній"/>
                <input id="next" type="button" value="Наступний"/>
                <input id="nnn" type="number" value="1"/>
            </div>
            <div id="pl" class="col-5 mx-auto col-md-6 order-md-2 bg-danger text-white">

            </div>

        </div>
    </div>

    <script type="text/javascript">
        var n = 1;
        var addres;
        jQuery(document).ready(function () {
                n = 1;
                {#alert("wwww")#}
                {#jQuery('#pl').load("{{ dir }}" + n);#}
            }
        );
    </script>
    <div id="fff"  hidden></div>
    <script type="text/javascript">
        var a;
        var pl_length = 1000000000;
        jQuery('#exampleFormControlSelect2').on('click', function () {
            n = 1;
            a = jQuery(this).find(":selected").attr('id');
           n = 1;
                if (n <= 0) n = 1;

                s = "http://127.0.0.1:8000/plan/postr/"+a+"/"+n;
                $('#pl').load(s);
                pl_length = parseInt($('#count_id').val());
                if (n>=pl_length) n = pl_length;
        });
    </script>
    <script type="text/javascript">
        jQuery('#next').on('click', function () {
                n = n + 1;
                if (n <= 0) n = 1;

                s = "http://127.0.0.1:8000/plan/postr/"+a+"/"+n;
                $('#pl').load(s);
                pl_length = parseInt($('#count_id').val());
                if (n>=pl_length) n = pl_length;
            }
        );

        jQuery('#prew').on('click', function () {
                n = n - 1;
                if (n <= 0) n = 1;

                s = "http://127.0.0.1:8000/plan/postr/"+a+"/"+n;
                $('#pl').load(s);
                pl_length = parseInt(jQuery('#count_id').val());
                sss = jQuery('#pl').children('#count_id').attr('id');
                alert("count="+sss)
                if (n>=pl_length) n = pl_length;
                {#alert("n="+n)#}
                {#pl_length = {{ count }};#}
        });
    </script>

{% endblock %}
