{% extends "layout/basic_plan.html" %}
{% load static %}
{#{% import os %}#}

{% block content %}

    {% if user.is_authenticated %}
        <script type="text/javascript">
            var old_value_goEdit = false;

        </script>

        <div class="row mt-lg-5 ">
            <div class="col-md-4 " style="background: #e3f2fd;">
                <div class="">


                    <label for="exampleFormControlSelect2">Розділи:</label>
                    <select class="form-control small" id="exampleFormControlSelect2" size="22" name="rozdili"
                            style="overflow-x:auto; ">
                        {% for rubric in rubrics %}
                            {% if rubric.riven == 1 %}
                                <option id="{{ rubric.id }}" owner="{{ rubric.id_owner_id }}" hidden_child=true r="0">
                                    {{ rubric.n_r }}.&nbsp;{{ rubric.name }}
                                </option>
                                {% for rubric2 in rubrics %}
                                    {% if rubric2.riven == 2 and rubric2.id_owner_id == rubric.id %}
                                        <option id="{{ rubric2.id }}" owner="{{ rubric2.id_owner_id }}"
                                                hidden_child=true r="0">
                                            &nbsp;&nbsp; {{ rubric.n_r }}.&nbsp;{{ rubric2.n_r }}.&nbsp;{{ rubric2.name }}
                                        </option>

                                        {% for rubric3 in rubrics %}
                                            {% if rubric3.riven == 3 and rubric3.id_owner_id == rubric2.id %}
                                                <option id="{{ rubric3.id }}" owner="{{ rubric3.id_owner_id }}"
                                                        hidden_child=true r="0">
                                                    &nbsp;&nbsp; &nbsp;&nbsp; {{ rubric.n_r }}.&nbsp;{{ rubric2.n_r }}.&nbsp;{{ rubric3.n_r }}.&nbsp;{{ rubric3.name }}
                                                </option>
                                            {% endif %}
                                        {% endfor %}
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                        {% endfor %}

                    </select>
                    <div class="row justify-content-center align-items-center ">
                        <button type="button" id="collapse" class="btn" style="">
                            <img src="{% static "images/btn.png" %}" style="width: 16px">
                        </button>

                        <p>&nbsp;</p>

                    </div>
                </div>
            </div>
            <div class="col-md-8 " style="background: #e3f2fd;">
                <div class="col  " id="pl" style="background: #e3f2fd;">

                </div>
                <span class="mb-0 ml-5" id="goEditPanel" style="background: #e3f2fd;">
                            <input id="goEdit" type="checkbox" aria-label="Дозволити редагування">
                            <label class="form-check-label" for="goEdit">&nbsp;Дозволити редагування</label>
                </span>
            </div>
        </div>

    {% else %}
        <script>
            alert("Увійдіть");

        </script>

    {% endif %}



    <div class="ml-5">

    <script>
        {#var count = {{ count }};#}
        var n;


    </script>


    {# Блок скриптів для роботи з деревом розділів #}
    <div>
        <script type="text/javascript">
            var n = 1;
            var rubr_id_max = 57;

            jQuery(document).ready(function () {
                    n = 1;
                    $('#goEditPanel').attr('hidden', true);
                }
            );
        </script>
        <script type="text/javascript">


            var a;

            function isDno(el) {
                dno = true;
                var k = 0;
                $('option').each(function (i, elem) {
                    k = k + 1;
                    if (($(elem).attr("owner") == el.attr('id')) && ($(elem).attr("r") == "0")) {
                        dno = false;
                    }
                    ;
                });
                return dno;
            }


            function tree(el, flag) {
                if (isDno(el)) {
                    return true;
                } else {
                    el.attr("hidden_child", !flag);
                    $('option').each(function (i, elem) {
                        if ($(elem).attr("owner") == el.attr('id')) {
                            $(elem).attr("hidden", !flag);
                            tree($(elem), flag);
                        }
                    });
                }
            }

            function tree_all(el, flag) {

                el.attr("hidden_child", !flag);
                $('option').each(function (i, elem) {
                    if (($(elem).attr("r") == "0") && ($(elem).attr("owner") != 0)) {
                        $(elem).attr("hidden", !flag);
                        tree($(elem), flag);
                    }
                });

            }

            jQuery('#exampleFormControlSelect2').on('change', function () {
                n = 1;
                a = jQuery(this).find(":selected").attr('id');

                s = "" + a + "/" + n;
                {#alert(s);#}

                jQuery('#pl').load(s);
                $('#goEditPanel').attr('hidden', false);
                $('#goEdit').attr('checked', false);
                old_value_goEdit = false;

            });

            jQuery('#exampleFormControlSelect2').on('dblclick', function () {
                el = jQuery(this).find(":selected");
                tree(el, (el.attr('hidden_child') == 'true'));
            });

            var collapse_flag = true;

            jQuery('#collapse').on('click', function () {
                el = jQuery(this).find(":selected");
                {#console.log("Зайшли в collapse");#}
                collapse_flag = !collapse_flag;
                tree_all(el, collapse_flag);
            });
        </script>
        {#TODO#}
        <script>
            {#jQuery("#add").on('click', function () {#}
            {#    a = jQuery('#exampleFormControlSelect2').find(":selected").attr('id');#}
            {#    s = "" + a;#}
            {#jQuery('#pl').load(s);#}
            {#    jQuery('#pl').load('http://127.0.0.1:8000/plan/add/' + a);#}


        </script>

    </div>


{% endblock %}
