{% if count != 0 %}
    <style>
        .finger {
            cursor: pointer;
        }

        .cross {
            cursor: crosshair;
        }

        .help {
            cursor: help;
        }
    </style>

    <script type="text/javascript">
        var count = {{ count }};
        var n;

    </script>

    <script type="text/javascript">

        function navButtonStatus() {
            {#console.log(" n="+String(n)+" count="+String(count));#}
            {#  console.log("n="+n);#}
            {#  console.log("count="+count);#}

            if (n == 1) {
                {#console.log("Робимо неактивною");#}
                $('#first').attr('disabled', true);
                $('#prev').attr('disabled', true);
            }
            ;
            if (n == count) {
                $('#last').attr('disabled', true);
                $('#next').attr('disabled', true);
            }
            ;
            if ((n > 1) && (n < count)) {
                $('#first').attr('disabled', false);
                $('#prev').attr('disabled', false);
                $('#last').attr('disabled', false);
                $('#next').attr('disabled', false);
            }
        };
    </script>
    <script type="text/javascript">

        navButtonStatus();

    </script>

    <style>
        #pdskzk2 {
            position: relative;
            display: inline-block;
        }

    </style>

    <form id="update-form" method="post" action="{% url 'postr' 20 1 %}">

        {% csrf_token %}


        <span id="dir_purp_panel" class="finger">

            <p class="mb-0 ml-3" style="text-align: center;">&#8230;</p>

            <div id="l1" class=" mb-0 ml-3 " hidden>{{ form.direction_id.label_tag }} </div>
            <div id="f1" class="card text-white mb-1 ml-3   small" hidden>{{ form.direction_id }}</div>

            <div id="l2" class=" mb-0 ml-3" hidden>{{ form.purpose_id.label_tag }} </div>
            <div id="f2" class="card text-white bg-info mb-1 ml-3   small" hidden>{{ form.purpose_id }}</div>
        </span>

        <div class=" mb-0 ml-3">{{ form.content.label_tag }} </div>
        <div id="a1" class="card text-white text-white mb-1 ml-3 ">{{ form.content }}</div>

        <div class=" mb-0 ml-3">{{ form.generalization.label_tag }} </div>
        <div class="card text-white  bg-info  mb-1 ml-3   small" style="background: #e3f2fd;">
            <div class="input-group ">
                {{ form.generalization }}
                <div id="open_generalization_btn" class=" input-group-text  small finger">&#9998;</div>
            </div>
        </div>
{#        <div class="card text-white bg-info mb-1 ml-3   small">{{ form.generalization }}</div>#}

        <div class=" mb-0 ml-3">{{ form.responsible.label_tag }} </div>
        <div class="card text-white  bg-info  mb-1 ml-3   small" style="background: #e3f2fd;">
            <div class="input-group ">
                {{ form.responsible }}
                <div id="open_responsible_btn" class=" input-group-text  small finger">&#9998;</div>
            </div>
        </div>
{#        <div class="card text-white bg-info mb-1 ml-3  small">{{ form.responsible }}</div>#}

        <div class=" mb-0 ml-3">{{ form.termin.label_tag }} </div>
        <div class="card text-white  bg-info  mb-1 ml-3   small" style="background: #e3f2fd;">
            <div class="input-group ">
                {{ form.termin }}
                <div id="open_termin_btn" class=" input-group-text  small finger">&#9998;</div>


            </div>
        </div>
        {#        <div class="card text-white bg-info mb-1 ml-3   small">{{ form.termin }}</div>#}


        <div class=" mb-0 ml-3">{{ form.note.label_tag }} </div>
        <div class="card text-white bg-info mb-1 ml-3   small">{{ form.note }}</div>


        <div id="nav_panel" class="btn-group ml-3 mt-3">
            <button type="button" id="first" class="btn btn-primary bg-info"
                    style="width: 50px; ">&lt;&lt;
            </button>&nbsp;
            <button type="button" id="prev" class="btn btn-primary bg-info"
                    style="width: 50px; ">&lt;
            </button>&nbsp;
            <button type="button" id="next" class="btn btn-primary bg-info"
                    style="width: 50px; ">&gt;
            </button>&nbsp;
            <button type="button" id="last" class="btn btn-primary bg-info"
                    style="width: 50px; ">&gt;&gt;
            </button>

            <button type="button" id="add_btn" style="width: 50px; " class="ml-5 bg-info text-white"> +</button>
            <button type="button" id="del_button" style="width: 50px; " class="ml-5 bg-info text-white"> -
            </button>

            <span id="chb_panel">&nbsp;&nbsp; id=<span id="plan_id"
                                                       value="{{ i_id }}">{{ i_id }}</span>&nbsp;&nbsp;&nbsp;{{ num }}&nbsp;(<span
                    id="count_id">{{ count }}</span>)
                &nbsp;&nbsp;</span>
        </div>
        {#                <input id="goEdit" type="checkbox" aria-label="Дозволити редагування" >#}
        {#                <label class="form-check-label" for="goEdit">Дозволити редагування</label>#}


    </form>

    <p>&nbsp;</p>

    {#  Блок скриптів для роботи з кнопками навігації#}

    <script type="text/javascript">


        function update_model() {
            $('#goEdit').attr('checked', old_value_goEdit);
            if ($('#goEdit').is(':checked')) {
                $('#nav_panel').attr('style', "background-color: #F76C7E;");
                old_value_goEdit = true;
                id_pl = {{ i_id }};
                var data = $("#update-form").serialize();
                $.ajax({
                        url: "../update_plan/" + id_pl + "/",
                        type: "POST",
                        data: data,
                    }
                );
                return true;
            } else {
                $('#nav_panel').attr('style', "background-color: #E3F2FD;");

            }
            return false;

        }

        jQuery('form').on('change', function () {
            update_model();
        });


        jQuery('#dir_purp_panel').on('dblclick', function () {
            flag = $('#f1').attr("hidden");
            $('#l1').attr("hidden", !flag);
            $('#f1').attr("hidden", !flag);
            $('#l2').attr("hidden", !flag);
            $('#f2').attr("hidden", !flag);
        });


        jQuery('#add_btn').on('click', function () {
            r_id = {{ r_id }};
            if (update_model()) {
                s = "" + String(r_id) + "/0";
                $('#pl').load(s);
            } else {
                alert("Режим редагування вимкнено");
            }
            ;
        });

        jQuery('#del_button').on('click', function () {
            if ($('#goEdit').is(':checked')) {
                i_id = {{ i_id }};
                console.log(i_id);
                res = confirm("Видалити запис id=" + String(i_id) + "?");
                if (res) {
                    console.log("Заходимо");
                    var data = $("#update-form").serialize();
                    $.ajax({
                            url: "../del_plan/" + i_id + "/",
                            type: "POST",
                            data: data,
                            error: function () {
                                console.log("Щось не те");
                            },
                            success: function () {
                                s = "" + a + "/" + n;
                                $('#pl').load(s);
                            }
                        }
                    );


                }
            } else {
                alert("Режим редагування вимкнено");
            }

        });

        jQuery('#next').on('click', function () {
            n = n + 1;
            if (n <= 0) n = 1;
            if (n >= count) n = count;
            update_model();
            s = "" + a + "/" + n;
            $('#pl').load(s);
            navButtonStatus();
        });


        jQuery('#last').on('click', function () {
                n = count;
                s = "" + a + "/" + n;
                update_model();
                $('#pl').load(s);
                navButtonStatus();
            }
        );

        jQuery('#prev').on('click', function () {
            n = n - 1;
            if (n <= 0) n = 1;
            if (n >= count) n = count;
            s = "" + a + "/" + n;
            update_model();
            $('#pl').load(s);
            navButtonStatus();
        });
        jQuery('#first').on('click', function () {
            n = 1;
            s = "" + a + "/" + n;
            update_model();
            $('#pl').load(s);
            navButtonStatus();
        });
    </script>
    </div>

{% endif %}





