{% if count != 0 %}

    <form method="post">
        {% csrf_token %}

        <div class=" mb-0 ml-3">{{ form.direction_id.label_tag }} </div>
        <div class="card text-white bg-info mb-1 ml-3 ">{{ form.direction_id }}</div>

        <div class=" mb-0 ml-3">{{ form.purpose_id.label_tag }} </div>
        <div class="card text-white bg-info mb-1 ml-3 ">{{ form.purpose_id }}</div>

        <div class=" mb-0 ml-3">{{ form.content.label_tag }} </div>
        <div class="card text-white bg-info mb-1 ml-3 small">{{ form.content }}</div>

       <div class=" mb-0 ml-3">{{ form.generalization.label_tag }} </div>
        <div class="card text-white bg-info mb-1 ml-3 ">{{ form.generalization }}</div>

        <div class=" mb-0 ml-3">{{ form.responsible.label_tag }} </div>
        <div class="card text-white bg-info mb-1 ml-3  small">{{ form.responsible }}</div>

        <div class=" mb-0 ml-3">{{ form.termin.label_tag }} </div>
        <div class="card text-white bg-info mb-1 ml-3 ">{{ form.termin }}</div>


        <div class=" mb-0 ml-3">{{ form.note.label_tag }} </div>
        <div class="card text-white bg-info mb-1 ml-3 ">{{ form.note }}</div>

        <div class="ml-3 mt-3 mb-3">
            <input id="first" type="button" value="Початок"/>
            <input id="prev" type="button" value="Попередній"/>
            <input id="next" type="button" value="Наступний"/>
            <input id="last" type="button" value="Кінець"/>
           &nbsp;&nbsp; id={{ plan.id }}&nbsp;&nbsp;&nbsp;{{ num }}&nbsp;(<span id="count_id">{{ count }}</span>)
        </div>


        <p>&nbsp;</p>
        <script>
            var count = {{ count }};
        </script>

        <script type="text/javascript">
            jQuery('#next').on('click', function () {
                    n = n + 1;
                    if (n <= 0) n = 1;
                    if (n >= count) n = count;
                    s = "" + a + "/" + n;
                    {#s = "http://127.0.0.1:8000/plan/postr/" + a + "/" + n;#}
                    $('#pl').load(s);
                }
            );
            jQuery('#last').on('click', function () {
                    n = count;
                    s = "" + a + "/" + n;
                    $('#pl').load(s);
                }
            );

            jQuery('#prev').on('click', function () {
                n = n - 1;
                if (n <= 0) n = 1;
                if (n >= count) n = count;
                s = "" + a + "/" + n;
                $('#pl').load(s);
            });
            jQuery('#first').on('click', function () {
                n = 1;
                s = "" + a + "/" + n;
                $('#pl').load(s);
            });
        </script>
    </form>
{% endif %}




