



                   <p>id={{ plan.id }}&nbsp;&nbsp;&nbsp;{{ num }}&nbsp;(<span id="count_id">{{ count }}</span>)</p>
                    <p style="max-width: 180rem">
                         <textarea rows="10" cols="35">{{ plan.content }}</textarea>
                    </p>
{#                   <input id="aqaq" type="text" value="{{ s }}" />#}



{#              {% for plan in plans %}#}
{#                   <p>id={{ plan.id }}</p>#}
{#                    <p style="max-width: 180rem">#}
{#                         <textarea rows="10" cols="72">{{ plan.content }}</textarea>#}
{#                    </p>#}
{#                {% endfor %}#}


