{% load static %}

{% if count != 0 %}
    <style>
        .finger {
            cursor: pointer;
        }

        .cross {
            cursor: crosshair;
        }

        .progress {
            cursor: progress;
        }


        .help {
            cursor: help;
        }
    </style>
    <style>
        td {
            vertical-align: top;
            horiz-align: left;
            padding-left: 5px;
            padding-right: 5px;
        {#padding-bottom: 10px;#} padding-top: 10px;
        {#padding-top: 1px;#}{#padding-bottom: 1px;#}
        }

        textarea {
            padding-top: 2px;
        }

        .div-float-button-1 {

            top: 100px;
            left: 100px;
            width: 42px;
            height: 64px;
            z-index: 2;

        }

        .btnMy {
            width: 24px;
            height: 24px;
            border-style: none;
            font-size: small;

            padding-bottom: 2px;
            background-color: #E3F2FD;

        }

        .tdNoBord {
            background-color: white;
            border-top-color: white;
            border-right-color: white;
            border-bottom-color: white;

        }

        .contentN {
            alignment: center;
        }

    </style>

    <script type="text/javascript">
        var oldArrea;
        var n;
        var plantable;
        var rtable;
        {#alert(n);#}
    </script>
    <a style='position: fixed; bottom: 30px; right: 1px; cursor:pointer; display:none;'
       id='Top'>
        <img src="{% static "images/up.png" %}" alt="Вверх" title="Вверх">
    </a>
    <a style='position: fixed; bottom: 30px; right: 1px; cursor:pointer; display:none;'
       id='Bottom'>
        <img src="{% static "images/down.png" %}" alt="Вниз" title="Вниз">
    </a>
    <div id="pnl" style="background-color: #E3F2FD">

        <form id="update-form" method="post"> {% csrf_token %}
            {% if plans|length > 0 %}
                <table border="1" style="border-style: none ; border-color: white;" id="tableId">
                    <tr name="header">
                        <td style="width: 3%;"><b>№</b></td>
                        <td {{ dir_no }}><b>Напрям</b></td>
                        <td {{ pur_no }}><b>Мета</b></td>
                        <td style="width: 50%;"><b>Зміст роботи</b></td>
                        <td style="width: 10%;"><b>Строки виконання</b></td>
                        <td style="width: 10%;"><b>Форма узагальнення</b></td>
                        <td style="width: 20%;"><b>Відповідальні</b></td>
                        <td style="width: 7%;"><b>Примітка</b></td>
                        <td style="width: 7%;"><b></b></td>
                        <td hidden>Сортування</td>
                        <td class="tdNoBord"></td>
                    </tr>
                    {% for plan in plans %}

                        <tr id="r{{ plan.id }}" class="{{ forloop.counter }}">
                            <td id="i{{ plan.id }}" class="contentN" name="N"
                                onclick="editField('i{{ plan.id }}')"
                                title="id={{ plan.id }}">
                                {{ forloop.counter }}

                            </td>
                            <td {{ dir_no }} id="d{{ plan.id }}" class="content" name="direction_id">
                                {{ plan.direction_id }}
                            </td>
                            <td {{ pur_no }} id="p{{ plan.id }}" class="content" name="purpose_id">
                                {{ plan.purpose_id }}
                            </td>
                            <td id="c{{ plan.id }}" class="content" name="content"
                                onclick="editField('c{{ plan.id }}')">
                                <p style="white-space: pre-line;">
                                    {{plan.content}}
                                </p>
                                {#                            <textarea style="border: none;" cols="80" >#}
                                {#                            {{ plan.content}}#}
                                {#                            </textarea>#}
                            </td>
                            <td id="t{{ plan.id }}" class="content" name="termin"
                                onclick="editField('t{{ plan.id }}')">{{ plan.termin }}</td>
                            <td id="g{{ plan.id }}" class="content" name="generalization"
                                onclick="editField('g{{ plan.id }}')">{{ plan.generalization }}</td>
                            <td id="v{{ plan.id }}" class="content" name="responsible"
                                onclick="editField('v{{ plan.id }}')">{{ plan.responsible }}</td>
                            <td id="n{{ plan.id }}" class="content" name="note"
                                onclick="editField('n{{ plan.id }}')">{{ plan.note }}</td>
                            <td hidden id="s{{ plan.id }}" class="content" name="sort">{{ plan.sort }}</td>
                            {% if plan.show %}
                                <td id="h{{ plan.id }}" class="content" name="show"
                                    onclick="editField('h{{ plan.id }}')"> &#10004;
                                </td>
                            {% else %}
                                <td id="h{{ plan.id }}" class="content" name="show"
                                    onclick="editField('h{{ plan.id }}')"></td>
                            {% endif %}
                            <td id="b{{ plan.id }}" name="N" class="contentBtn tdNoBord">
                                <button class="btnMy" id="up__{{ plan.id }}" type="button" title="Вгору"
                                        onclick="btnClick('up__{{ plan.id }}');">
                                    &#8593;
                                </button>
                                <button class="btnMy" id="add_{{ plan.id }}" type="button" title="Додати"
                                        onclick="btnClickAdd('add_{{ plan.id }}');">+
                                </button>
                                <button class="btnMy" id="down{{ plan.id }}" type="button" title="Вниз"
                                        onclick="btnClick('down{{ plan.id }}');">
                                    &#8595;
                                </button>
                                <p></p>
                                <button class="btnMy" id="down{{ plan.id }}" type="button" title="Вилучити"
                                        onclick="btnClickDel('del_{{ plan.id }}');">
                                    -
                                </button>
                                <p></p>
                                &nbsp;<input class="chb" id="ch_b{{ plan.id }}" type="checkbox"/>

                            </td>
                            <script type="text/javascript">
                                plantable = String(0{{ plan.plantable_id_id }});
                                rtable = "{{ plan.r_id }}";
                                {#console.log("->" + rtable);#}
                            </script>
                        </tr>

                    {% endfor %}
                </table>
            {% endif %}
        </form>

    </div>

{% endif %}

<script type="text/javascript">

    {#$('#navbarSupportedContent').delay(5000).fadeOut('slow');#}


    function __goEdit(e, id_) {
        {#console.log("Зайшов у  => " + id_);#}
        {#console.log("oldArrea  => " + oldArrea);#}


        if ((oldArrea == undefined)) {
            nam = jQuery(e).attr('name');
            text = jQuery(e).text().trim();
            w = jQuery(e).outerWidth(true);
            h = jQuery(e).outerHeight(true);
            id_s = "'" +id_+"'";

            jQuery(e).html('<textarea id="ta_edit" name="' + nam +'"'+
                ' cols="' + String(parseInt(w / 8) + 10) +'"'+
                ' rows = "' + String(parseInt(h / 28) + 2) +'"'+
                ' onkeydown="keyTextArea(event, '+id_s+');"> ' +
                text + '</textarea> ');
            oldArrea = jQuery(e);

            jQuery(e).children('#ta_edit').focus();
            //------------
            var textarea = $('#ta_edit'),
                data = textarea.val();
            textarea.focus().val('').val(data);
            //------------
        } else {

            {#console.log("Зайшов");#}


            if (oldArrea.attr("id") != jQuery(e).attr("id")) {
                w = jQuery(e).outerWidth(true)
                h = jQuery(e).outerHeight(true);
                console.log("-->"+oldArrea.parent('tr').attr('id'));
                //Тут зберігаємо за допомогою Ajax
                id0 = oldArrea.parent('tr').attr('id');
                {#console.log(id0);#}
                id0 = id0.substring(1);
                nam = oldArrea.attr('name');

                var map = new Object();
                map = {
                    'id': 1,
                    'direction_id': 2,
                    'purpose_id': 3,
                    'content': 4,
                    'termin': 5,
                    'generalization': 6,
                    'responsible': 7,
                    'note': 8,
                    'sort': 9,
                };

                var data = $("#update-form").serialize();
                $.ajax({
                        url: "../rib_update_plan/" + id0 + "/" + map[nam] + "/",
                        type: "POST",
                        data: data,
                        error: function () {
                            console.log("Щось не те");
                        },
                        success: function () {
                            console.log("Все Ok");
                        }
                    }
                );
                text = oldArrea.find('textarea').val();
                text = text.trim();
                {#console.log(text);#}
                {#text = oldArrea.text();#}
                oldArrea.text(text);

                nam = jQuery(e).attr('name');
                if (nam != "N") {

                    text = jQuery(e).text().trim();
                    id_s = "'" +id_+"'";
                    {#nam_s = "'" +nam+"'";#}
                    jQuery(e).html('<textarea id="ta_edit" ' +
                        'name="' + nam +'"'+
                        ' cols="' + String(parseInt(w / 8) + 10) +'"'+
                        ' rows = "' + String(parseInt(h / 28) + 2) + '"' +
                        ' onkeydown="keyTextArea(event, '+id_s+');"> ' + text + '</textarea> ');
                    jQuery(e).children('#ta_edit').focus();
                    //------------
                    var textarea = $('#ta_edit'),
                        data = textarea.val();
                    textarea.focus().val('').val(data);
                    //------------
                    oldArrea = jQuery(e);
                } else {
                    oldArrea = undefined;
                }
            }
        }
    }

    function openTextarea(e) {
        w = jQuery(e).outerWidth(true)
        h = jQuery(e).outerHeight(true);
        id_s = jQuery(e).attr('id');
        suff = id_s.substring(0, 1);
        text = jQuery(e).text().trim();
        id_sss = '"'+jQuery(e).attr('id')+'"';
        console.log("id_s -> "+id_s);
        var map1 = new Object();
            map1 = {
                'i':'id', 'c':'content', 't':'termin',
                'g':'generalization', 'v':'responsible', 'n':'note'
            };
        if ((suff == 'c')||(suff == 't')||(suff == 'g')||(suff == 'v')||(suff == 'n')){
            jQuery(e).html('<textarea id="ta_edit" name="' + map1[suff] +'"'+
                    ' cols="' + String(parseInt(w / 8) + 10) +'"'+
                    ' rows = "' + String(parseInt(h / 28) + 2) +'"'+
                    ' onkeydown="keyTextArea(event, \''+id_s+'\'); '+
                    ' "> ' +
                    text + '</textarea> ');
            //Ставимо фокус вводу і курсор в кінець
            var textarea = $('#ta_edit'),
                        dat = textarea.val();
            textarea.focus().val('').val(dat);
                    //------------

        } else {
            oldArrea = undefined;
        }

    }

    function saveOld() {
        var map1 = new Object();
            map1 = {
                'i':'',
                'c':'4',
                't':'5',
                'g':'6',
                'v':'7',
                'n':'8'
            };
        id = oldArrea.attr('id');
        console.log("id = "+ id);
        suff = id.substring(0,1);
        s_id = id.substring(1);
        cc = map1[suff];
        console.log("s_id = "+ s_id);
        console.log("cc = "+ cc);
        var data = $("#update-form").serialize();
        $.ajax({
                url: '../rib_update_plan/' + s_id + '/'+cc+'/',
                type: "POST",
                data: data,
                error: function () {
                    console.log("Щось не те");
                },
                success: function () {
                    console.log("Все Ok");
                }
            }
        );
        {#jQuery('#pl').load(s);#}
    }

    function closeOld() {
        {#console.log("in closeOld oldArrea---->"+oldArrea);#}
        text = oldArrea.find('textarea').val();
        if ((text != '')&&(text !=undefined)){
            {#console.log("text---->"+text);#}
            text = text.trim();
        } else if (text == '') {
        }
        oldArrea.text(text);
    }

    function editField(id) {
        e = jQuery('#' + id);
        suff = id.substring(0, 1);
        id_s = id.substring(1);
        if (suff == 'h'){
            $.ajax({
                    url: '../rib_update_plan/' + id_s + '/10/',
                    type: "POST",
                    data: {show: true},
                    error: function () {
                        console.log("Щось не те");
                    },
                    success: function () {
                        console.log("Все Ok");
                    }
                }
            );

            jQuery('#pl').load(s);
            return 1;
        }

        if ((oldArrea != undefined)&&(e.attr('id') == oldArrea.attr('id'))){
            console.log("-=-=-=-=-=-=-=-=-=-");
            return false;
        }



        if ((oldArrea == undefined && (suff!='i'))){
            //Відкриваємо textarea
            openTextarea(e);
            oldArrea = jQuery(e);
        } else if ((oldArrea == undefined) && (suff=='i')) {
            //Нічого не робимо

        } else if (suff=='i') {
            saveOld();
            closeOld();
            oldArrea = undefined;
        } else {
            //Закриваємо старе
            saveOld();
            closeOld();
            openTextarea(e);
            oldArrea = jQuery(e);
        }
    }



    function _editField(id) {
        //Знайти за id посилання на обєкт td
        e = jQuery('#' + id);
        console.log(e);
        tr = jQuery('#r' + id.substring(1));
        jQuery('tr').each(function (index, value) {
            jQuery(this).removeAttr('style');
        });
        tr.attr('style', 'background-color:  yellow;');
        suff = id.substring(0, 1);
        s_id = id.substring(1);
        if (suff == 'h') {
            $.ajax({
                    url: '../rib_update_plan/' + s_id + '/10/',
                    type: "POST",
                    data: {show: true},
                    error: function () {
                        console.log("Щось не те");
                    },
                    success: function () {
                        console.log("Все Ok");
                    }
                }
            );
            jQuery('#pl').load(s);
        } else {
            if (e.attr('name') == 'N') {
                if (oldArrea != undefined) {
                    text = oldArrea.find('textarea').val();
                    text = text.trim();
                    oldArrea.text(text);
                    console.log(oldArrea.parent('tr'));
                    oldArrea.parent('tr').removeAttr('style');
                }
                oldArrea = undefined;
            } else {
                console.log(" => " + id);
                console.log(" => " + e);
                goEdit(e, id);
            }
        }
     }

    function esc_without_save() {
        text = oldArrea.find('textarea').val();
        text = text.trim();
        oldArrea.text(text);
        oldArrea = undefined;
    }

    function tab_with_save(id_s) {
        console.log("tab-"+id_s);
        saveOld();
        closeOld();
        suff = id_s.substring(0,1);
        id = id_s.substring(1);
        map = {'c':'t', 't':'g', 'g':'v', 'v':'n', 'n':'i'};
        suffNew =  map[suff]
        e = jQuery('#' + suffNew + id);
        openTextarea(e);
        oldArrea = jQuery(e);
    }

    function keyTextArea(e,id_s) {
          if (e.key === "Escape") {
              console.log("ESC");
              esc_without_save();
          } else
          if (e.key === "Tab") {
              console.log("Tab");
              console.log("tab-"+id_s);
              tab_with_save(id_s);
          }
          return false;
     }

    jQuery.fn.swap = function (b) {
        b = jQuery(b)[0];
        var a = this[0],
            a2 = a.cloneNode(true),
            b2 = b.cloneNode(true),
            stack = this;

        a.parentNode.replaceChild(b2, a);
        b.parentNode.replaceChild(a2, b);

        stack[0] = a2;
        return this.pushStack(stack);
    };

    function btnClickDel(id) {
        if (confirm("Вилучити запис?")) {
            suff = id.substring(0, 4);
            id = id.substring(4);
            tr_this = jQuery('#r' + id);
            $.ajax({
                    url: "../rib_del_plan/" + id + "/",
                    type: "POST",
                    cache: false,
                    data: {sort: true},
                    error: function () {
                        console.log("Щось не те");
                    },
                    success: function () {
                        //З textarea переносимо до td
                        a = jQuery('#exampleFormControlSelect2').find(":selected").attr('id');
                        s = "" + a + "/";
                        jQuery('#pl').load(s);
                    }
                }
            );
        }
    }


    function btnClickAdd(id) {
        //Додати елемент знизу

        {#tr_next = jQuery('#' + id).parent().parent().next();#}

        tr_this = jQuery('#' + id).parent().parent();
        tr_next = tr_this.next();

        {#console.log(id);#}
        {#console.log(tr_this.html());#}
        {#console.log(tr_next.html());#}

        tr_this_id = tr_this.attr('id');
        tr_next_id = tr_next.attr('id');
        console.log("tr_next_id");
        console.log(tr_next_id);

        suff = 's';
        this_id = tr_this_id.substring(1);
        sortThis = tr_this.children('#' + suff + this_id).text();
        th = parseFloat(sortThis.replace(',', '.'));
        if (tr_next_id != undefined) {

            next_id = tr_next_id.substring(1);
            sortNext = tr_next.children('#' + suff + next_id).text();
            ne = parseFloat(sortNext.replace(',', '.'));
        } else {
            {#console.log("-undefined-");#}
            ne = th + 2;
        }
        av = (th + ne) / 2;
        sort = String(av).replace('.', ',');
        {#console.log(sortThis);#}
        {#console.log(sortNext);#}
        {#console.log(sort);#}


        tr_this.after('<tr id="newRow" style="background-color: red;">' +
            '                        <td class="contentN" name="N" style="width: 3%;color:white;">new</td>' +
            '                        <td {{ dir_no }} class="content" name="direction_id"></td>' +
            '                        <td {{ pur_no }} hidden class="content" name="purpose_id"></td>' +
            '                        <td  class="content" name="content"><textarea  id="contNew" cols="80" rows = "2"></textarea> </td>' +
            '                        <td  class="content" name="termin"><textarea  id="termNew"  cols="10" rows = "2"></textarea> </td>' +
            '                        <td  class="content" name="generalization"><textarea  id="genNew"  cols="10" rows = "2"></textarea> </td>' +
            '                        <td  class="content" name="responsible"><textarea  id="respNew"  cols="20" rows = "2"></textarea> </td>' +
            '                        <td  class="content" name="note"><textarea  id="noteNew"  cols="10" rows = "2"></textarea> </td>' +
            '                        <td  hidden class="content" name="sort"   id="sortNew" >' + sort + '</td>' +
            '                        <td  class="content" name="show"   id="showtNew" >' + '' + '</td>' +
            '                        <td  name="N" class="contentBtn tdNoBord">' +
            '                           <button class="btnMy" type="button" onclick="SaveNew();">+</button>' +
            '                           <textarea  id="plantableNew" hidden >' + plantable + '</textarea>                ' +
            '                        </td>' +
            '                    </tr>');
        //Ставимо фокус ввода на Content
        jQuery('#contNew').focus();


    }


    //Збереження нового запису
    function SaveNew() {
        content_ = jQuery('#contNew').val();
        termin_ = jQuery('#termNew').val();
        generalization_ = jQuery('#genNew').val();
        responsible_ = jQuery('#respNew').val();
        sort_ = jQuery('#sortNew').text();
        note_ = jQuery('#noteNew').val();

        {#console.log(sort_);#}

        {#var data = $("#update-form").serialize();#}

        $.ajax({
                url: "../rib_add_plan/",
                type: "POST",
                cache: false,
                {#data: data,#}
                data: {
                    content: content_,
                    termin: termin_,
                    generalization: generalization_,
                    responsible: responsible_,

                    sort: sort_,
                    note: note_,
                    plantable: plantable,
                    rtable: rtable,


                },
                error: function () {
                    console.log("Щось не те");
                },
                success: function () {
                    {#console.log("Все Ok");#}
                    //З textarea переносимо до td
                    a = jQuery('#exampleFormControlSelect2').find(":selected").attr('id');

                    s = "" + a + "/";
                    {#console.log("s->  "+s);#}
                    jQuery('#pl').load(s);


                }
            }
        );

    }


    function btnClick(id) {
        var listId = [];

        suff = id.substring(0, 4);

        console.log(suff);
        console.log(jQuery('#ch_b' + id.substring(4)));
        jQuery('#ch_b' + id.substring(4)).attr('checked', true);


        jQuery('tr').each(function (index, value) {
            //Проходимо по таблиці, і там, де
            if (jQuery(this).find('.chb').is(':checked')) {
                id_ = jQuery(this).find('.chb').attr('id');
                id_ = suff + id_.substring(4);
                {#console.log(id_);#}
                listId.push(id_);
            }
        });
        if (suff == 'down') {
            listId.reverse();
        }


        console.log(listId);

        listId.forEach(function (item, i) {
            {#console.log(item);#}
            btnClick0(item)
        });


    }


    function btnClick0(id) {

        {#console.log("Зайшов до обробника кнопок");#}
        {#console.log('#'+id);#}

        tr_prev = jQuery('#' + id).parent().parent().prev();
        tr_this = jQuery('#' + id).parent().parent();
        tr_next = jQuery('#' + id).parent().parent().next();

        console.log(tr_prev.prev().attr('name'));

        tr_this_id = tr_this.attr('id');
        tr_next_id = tr_next.attr('id');
        tr_prev_id = tr_prev.attr('id');

        id_prev = tr_prev.attr('id');
        if (id_prev != undefined) {
            id_prev = id_prev.substring(1);
        }


        id_this = tr_this.attr('id');
        if (id_this != undefined) {
            id_this = id_this.substring(1);
        }
        id_next = tr_next.attr('id');
        if (id_next != undefined) {
            id_next = id_next.substring(1);
        }
        prev_Sort = tr_prev.find('#s' + id_prev).text();
        this_Sort = tr_this.find('#s' + id_this).text();
        next_Sort = tr_next.find('#s' + id_next).text();


        oldNum = jQuery('#' + id).parent().parent().find('#i' + id_this).text();
        oldNum = oldNum.trim();

        {#    Міняємо місцями елементи#}
        {#   https://smartideal.net/kak-pomenyat-dva-bloka-mestami/   #}
        idBtn = jQuery('#' + id).attr('id');
        if (idBtn != undefined) {
            idBtn = idBtn.substring(0, 4);
        }
        if ((idBtn == 'down')) {
            //Якщо елемент не останній

            //Міняємо поле sort місцями
            tr_next.find('#s' + id_next).text(this_Sort);
            tr_this.find('#s' + id_this).text(next_Sort);
            //Міняємо елементи місцями
            jQuery('#' + tr_this_id).swap(jQuery('#' + tr_next_id));
            // і прокрутить вгору на висоту даної комірки щоб мишка залишилася над полем, яке рухаємо

            y0 = jQuery('html').scrollTop();
            dy = jQuery('#' + id).parent().parent().next().outerHeight(true);
            destenation = y0 + dy;
            jQuery('html').animate({scrollTop: destenation}, 600);

            //Зберігаємо
            adj_for_sort(id_next, this_Sort);
            adj_for_sort(id_this, next_Sort);
        }

        if ((idBtn == 'up__')) {
            //Якщо елемент не останній

            //Міняємо поле sort місцями
            tr_prev.find('#s' + id_prev).text(this_Sort);
            tr_this.find('#s' + id_this).text(prev_Sort);
            //Міняємо елементи місцями
            jQuery('#' + tr_this_id).swap(jQuery('#' + tr_prev_id));
            // і прокрутить вниз на висоту даної комірки щоб мишка залишилася над полем, яке рухаємо

            y0 = jQuery('html').scrollTop();
            dy = jQuery('#' + id).parent().parent().prev().outerHeight(true);
            destenation = y0 - dy;
            jQuery('html').animate({scrollTop: destenation}, 600);

            //Зберігаємо
            adj_for_sort(id_prev, this_Sort);
            adj_for_sort(id_this, prev_Sort);

        }
        {#console.log(tr_this.html());#}

    }

    function adj_for_sort(id, sort0) {
        $.ajax({
                url: "../rib_update_plan/" + id + "/9/",
                type: "POST",
                cache: false,
                data: {
                    sort: sort0
                },
                error: function () {
                    console.log("Щось не те");
                },
                success: function () {
                    console.log("Все Ok");
                }
            }
        );
    }


    jQuery(function () {
        $("#Top").hide().removeAttr("href");
        if ($(window).scrollTop() >= "200") $("#Top").fadeIn("slow")
        $(window).scroll(function () {
            if ($(window).scrollTop() <= "200") $("#Top").fadeOut("slow")
            else $("#Top").fadeIn("slow")
        });

        $("#Bottom").hide().removeAttr("href");
        if ($(window).scrollTop() <= $(document).height() - "999") $("#Bottom").fadeIn("slow")
        $(window).scroll(function () {
            if ($(window).scrollTop() >= $(document).height() - "999") $("#Bottom").fadeOut("slow")
            else $("#Bottom").fadeIn("slow")
        });

        $("#Top").click(function () {
            $("html, body").animate({scrollTop: 0}, "slow")
        })
        $("#Bottom").click(function () {
            $("html, body").animate({scrollTop: $(document).height()}, "slow")
        })
    });


</script>





