{% extends "layout/basic_tt.html" %}
{% load static %}
{#{% import os %}#}
{% block title %}
    Налаштування
{% endblock %}

{% block content %}

    {% if user.is_authenticated %}

        <div class="container-fluid mt-lg-5 ml-1">


            <form method="post"> {% csrf_token %}
                {#                {{ form.as_p }}#}
                {#                <h2 id="sav" hidden>Зміни збережено...</h2>#}
                <p>
                <h3>Налаштування</h3></p>
                <table border="0">

                    {% for set in settings %}
                        <tr>

                            <td>{{ set.verbose }}<input hidden type="text" name="field_{{ set.field }}"
                                                    value="{{ set.field }} "> </td>
                            <td><input name="{{ set.field }}" type="text" value="{{ set.value }}"></td>

                            &nbsp;&nbsp;&nbsp;&nbsp;

                        </tr>
                    {% endfor %}

                </table>
                <p></p>
                <button type="submit"> Зберегти</button>
            </form>


        </div>
    {% else %}
        <script type="text/javascript">
            alert("Увійдіть");
            document.location.href = '/accounts/login/';

        </script>

    {% endif %}

    <script type="text/javascript">
        var flag = 0{{ flag }};
        if (flag == 1) {
            alert("Зміни збережено")
            {#setTimeout(function () {jQuery('#sav').attr('hidden', false);}, 50000);#}
            {#jQuery('#sav').attr('hidden', true);#}
        }
    </script>

{% endblock %}
