{% extends "layout/basic_tt.html" %}
{% load static %}
{#{% import os %}#}
{% block title %}
    Налаштування
{% endblock %}

{% block content %}

    {% if user.is_authenticated %}

        <div class="container-fluid mt-lg-5 ml-1">


            <form method="post"> {% csrf_token %}
                {#                {{ form.as_p }}#}
                {#                <h2 id="sav" hidden>Зміни збережено...</h2>#}
                <p>
                <h3>Налаштування</h3></p>
                <table border="0">

                    {% for set in settings %}
                        <tr>

                            <td>{{ set.verbose }}<input hidden type="text" name="field_{{ set.field }}"
                                                    value="{{ set.field }} "> </td>
                            <td><input name="{{ set.field }}" type="text" value="{{ set.value }}"></td>

                            &nbsp;&nbsp;&nbsp;&nbsp;

                        </tr>
                    {% endfor %}

                </table>
                <p></p>
                <button type="submit"> Зберегти</button>
            </form>


        </div>
    {% else %}
        <script type="text/javascript">
            alert("Увійдіть");
            document.location.href = '/accounts/login/';

        </script>

    {% endif %}

    <script type="text/javascript">
        var flag = 0{{ flag }};
        if (flag == 1) {
            alert("Зміни збережено")
            {#setTimeout(function () {jQuery('#sav').attr('hidden', false);}, 50000);#}
            {#jQuery('#sav').attr('hidden', true);#}
        }
    </script>

    <script type="text/javascript">

                {#$.datepicker.setDefaults($.datepicker.regional['fr']);#}
                $("#datepicker").datepicker();
                {#$("#datepicker").datepicker("option", "dateFormat", "dd.mm.yy");#}
                {#$("#datepicker").datepicker("option", "dateFormat", "dd.mm.yy");#}
                $.datepicker.setDefaults({dayNames: [ "Неділя", "Понеділок", "Вівторок", "Середа", "Четвер", "П'ятниця", "Субота" ],
                    dayNamesShort: [ "Нед", "Пон", "Вів", "Сер", "Чет", "П'я", "Суб" ],
                    dayNamesMin: [ "Нд","Пн","Вт","Ср","Чт","Пт","Сб" ],
                    dateFormat: "dd.mm.yy",
                    firstDay: 1,
                    monthNames: [ "Січень","Лютий","Березень","Квітень","Травень","Червень","Липень","Серпень","Вересень","Жовтень","Листопад","Грудень" ],
                    monthNamesShort: [ "Січ", "Лют", "Бер", "Кві", "Тра", "Чер", "Лип", "Сер", "Вер", "Жов", "Лис", "Гру" ],
                });
            </script>


{% endblock %}
