{% extends "layout/basic_tt.html" %}
{% load static %}
{#{% import os %}#}
{% block title %}
    Канікулярні та святкові дні
{% endblock %}

{% block content %}



    {% if user.is_authenticated %}

        <div class="container-fluid mt-lg-5 ml-1">


            <form method="post"> {% csrf_token %}

                <p>
                <h3>Канікулярні та святкові дні</h3></p>
                <table id="table" border="0">
                    <tr>
                        <td>id</td>
                        <td>Дата</td>
                        <td>Назва</td>
                        <td>Вилучити</td>
                    </tr>
                    {% for vac in vacations %}
                        <tr>

                            <td>&nbsp;<input style="border: hidden" name="n_{{ vac.id }}" type="text"
                                             value="{{ vac.id }}" size="6"> &nbsp;
                            </td>
                            <td>&nbsp;<input style="border: hidden" name="dat_{{ vac.id }}" class="dat_" type="text"
                                             value="{{ vac.date|date:"d.m.Y" }}" placeholder="Впишіть сюди дату"
                                             size="10"></td>
                            <td>&nbsp;<input style="border: hidden" name="nam_{{ vac.id }}" type="text"
                                             value="{{ vac.name }}" size="30"></td>
                            <td>&nbsp;<input style="border: hidden" name="del_{{ vac.id }}" class="del_" type="checkbox"
                                             value="{{ vac.deleted }}">
                            </td>

                            &nbsp;&nbsp;&nbsp;&nbsp;

                        </tr>
                    {% endfor %}

                </table>
                <p></p>

                <button id="submit" type="submit"> Зберегти</button>
            </form>
            <button id="add" onclick="add()"> Додати</button>

        </div>
    {% else %}
        <script type="text/javascript">
            alert("Увійдіть");
            document.location.href = '/accounts/login/';

        </script>

    {% endif %}
    <script type="text/javascript">
        var flag = 0{{ flag }};
        if (flag == 1) {
            alert("Зміни збережено")
            {#setTimeout(function () {jQuery('#sav').attr('hidden', false);}, 50000);#}
            {#jQuery('#sav').attr('hidden', true);#}
        }
    </script>

        <script type="text/javascript">
        num = 0

        function add() {
            num += 1;

            $('#table').html($('#table').html() +
                    '<tr>  <td>&nbsp;<input style="border: hidden" name="n-'+String(num)+'" type="text" value="new-'+String(num)+'" size="6"> &nbsp;'+
                           ' </td>'+
                            '<td>&nbsp;<input style="border: hidden" name="dat-'+String(num)+'" class="dat_" type="text"'+
                                             'value="" placeholder="Впишіть сюди дату"'+
                                             'size="10"></td>'+
                            '<td>&nbsp;<input style="border: hidden" name="nam-'+String(num)+'" type="text"'+
                                             'value="" size="30"></td>'+
                            '<td>&nbsp;<input style="border: hidden" name="del-'+String(num)+'" class="del_" type="checkbox"'+
                                             'value="false">'+
                            '</td>'+

                            '&nbsp;&nbsp;&nbsp;&nbsp;'+

                       ' </tr>'
            );

            {#var dat = prompt("Дата","");#}
            {#var name = prompt("Назва","");#}


        };



    </script>

{% endblock %}



{#        function beforeSend() {#}
            {#Очистимо поля date всіх відмічених полів#}
{#            $.each($("input[class='del_']:checked"), function () {#}
{#                row = $(this).closest('tr');#}
{#                row.find('.dat_').attr('value', '');#}
{#                }#}
{#            );#}
{##}
{#        }#}
