{% extends "layout/basic.html" %}
{#{% import os %}#}

{% block content %}
    {% for bb in bbs %}


        <div class="card text-white bg-info mb-3 ml-3">
            <div class="card-header">
                <strong>Опубліковано: </strong>{{ bb.published|date:"d.m.y H:i" }}
            </div>
            <div class="card-body">
                <h3><a href="../bboard">Дошка оголошень</a> </h3>
                <h3><a href="admin/">Адміністрування</a> </h3>

            </div>
        </div>

    {% endfor %}
{% endblock %}
