{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Головна{% endblock %} - АРМ</title>
    {#<link type="text/css" href="{% static "style.css" %}" rel="stylesheet">#}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script type="text/javascript" src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.4.1.js"></script>
{#    <script type="text/javascript" src="script.js"></script>#}
    {#    {% load bootstrap3 %}#}
    {#    <script src="{% bootstrap_jquery_url %}"></script>#}
    {#    {% bootstrap_javascript %}#}
    {#    {% bootstrap_css %}#}
</head>
<body>
{#<header>#}
{#    <h1>Оголошення</h1>#}
{#</header>#}

<style>
    img.resize {
    width:100px; /* you can use % */
    height: auto;
}
</style>

<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">

    {#    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"#}
    {#            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">#}
    {#        <span class="navbar-toggler-icon"></span>#}
    {#    </button>#}

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'index' %}">Головна <span class="sr-only">(current)</span></a>
            </li>

        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</nav>

<section>
    <div class="container mt-3 ml-3">
        <div class="row">
{#            <div class="col-6 offset-md-0">#}
                {% block content %}
                {% endblock %}
{#            </div>#}

        </div>

    </div>

</section>

{#<a href="https://www.google.com.ua">GOOGLE</a>#}
</body>
</html>